schemas/schema2.rng

<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="PlayerList">
      <oneOrMore>
        <element name="info">
          <element name="description">
            <element name="player">
              <ref name="nickname" />
              <ref name="email" />
              <ref name="player_details" />
            </element>
            <element name="player_location">
              <attribute name="geolocation" />
              <ref name="account_description" />
              <element name="flora">
                <text />
              </element>
              <element name="fauna">
                <text />
              </element>
              <element name="brightness">
                <data type="integer" />
              </element>
            </element>
          </element>
        </element>
      </oneOrMore>
    </element>
  </start>

  <define name="nickname">
    <element name="nickname">
      <text />
    </element>
  </define>

  <define name="email">
    <element name="email">
      <text />
    </element>
  </define>

  <define name="accountdetails">
    <element name="details">
      <element name="gender">
        <text />
      </element>
    </element>
  </define>


  <define name="player_details">
    <element name="details">
      <element name="skills">
        <text />
      </element>
    </element>
  </define>

  <define name="account_description">
    <element name="account_description">
      <ref name="email" />
      <optional>
        <element name="account_description">
          <element name="account">
            <ref name="nickname" />
            <ref name="email" />
            <ref name="accountdetails" />
          </element>
        </element>
      </optional>
    </element>
  </define>
</grammar>
